.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
*.swp
/ligradle/
/intTestHomeDir/
pivy-importer/ivy-repo/
examples/example-project/activate
examples/example-project/pinned.txt
.DS_Store
